@page
@model Pie.Areas.Identity.Pages.Users.EditModel

@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить</h1>

<h4>Очередь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpdateUserDto.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="UpdateUserDto.FirstName" class="form-control" autocomplete="firstName" aria-required="true" placeholder="Имя" />
                <label asp-for="UpdateUserDto.FirstName">Имя</label>
                <span asp-validation-for="UpdateUserDto.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UpdateUserDto.LastName" class="form-control" autocomplete="lastName" aria-required="true" placeholder="Фамилия" />
                <label asp-for="UpdateUserDto.LastName">Фамилия</label>
                <span asp-validation-for="UpdateUserDto.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UpdateUserDto.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" readonly="readonly" />
                <label asp-for="UpdateUserDto.Email">Email</label>
                <span asp-validation-for="UpdateUserDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="UpdateUserDto.WarehouseId" class="control-label"></label>
                <select asp-for="UpdateUserDto.WarehouseId" class="form-control"
                        asp-items="@Model.WarehouseSL">
                    <option value="">- Выберите склад -</option>
                </select>
                <span asp-validation-for="UpdateUserDto.WarehouseId" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
