@    using Pie.Data.Models;
    using Pie.Data.Models.Out;

@if (Docs is not null)
{
    <div style="overflow-y: scroll; max-height: 800px;">
        @foreach (var doc in Docs)
        {
            <Card Doc="@doc"></Card>
        }
    </div>
}

@code {
    [Parameter] public List<DocOut>? Docs { get; set; }
}
