@using Pie.Data.Models.Out;

<div class="card mb-2">
    <div class="card-header p-2">
        <div class="row">
            <div class="col-9">
                <div>
                    <span>№ </span>
                    <span><a href="/DocsOut/Item/@Doc?.Id">@Doc?.Number</a></span>
                </div>
                <div>
                    <span>от </span>
                    <span><a href="/DocsOut/Item/@Doc?.Id">@Doc?.DateTime</a></span>
                </div>
            </div>
            <div class="col-3">
                <div>@Doc?.QueueNumber</div>
            </div>
        </div>

    </div>
    <div class="card-body p-2">
        <div>
            Склад: @Doc?.Warehouse?.Name
        </div>
        <div>
            Статус: @Doc?.Status?.Name
        </div>
        <div>
            Очередь: @Doc?.Queue?.Name
        </div>
        <div>
            Дата отгрузки: @Doc?.ShipDateTime
        </div>
    </div>
    <div class="card-footer">
        <div>
            @Doc?.Comment
        </div>
    </div>
</div>

@code {
    [Parameter] public DocOut? Doc { get; set; }

}
