@using Pie.Data.Models;

<h4>Card</h4>

<div class="card mb-2">
    <div class="card-header">
        <div class="row card-title">
            <div class="col-9">
                <h6><a href="/DocsOut/Item/@Doc?.Id">@Doc?.Name</a></h6>
            </div>
            <div class="col-3">
                <h6>@Doc?.QueueNumber</h6>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div>
            Склад: @Doc?.Warehouse?.Name
        </div>
        <div>
            Статус: @Doc?.Status?.Name
        </div>
        <div>
            Очередь: @Doc?.Queue?.Name
        </div>
        <div>
            Дата отгрузки: @Doc?.ShipDateTime
        </div>
    </div>
    <div class="card-footer">
        <div>
            @Doc?.Comment
        </div>
    </div>
</div>

@code {
    [Parameter] public DocOut? Doc { get; set; }

}
