@page
@model Pie.Areas.Config.Pages.StatusesOut.CreateModel

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Статус расходника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status.Name" class="control-label"></label>
                <input asp-for="Status.Name" class="form-control" />
                <span asp-validation-for="Status.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status.Key" class="control-label"></label>
                <input asp-for="Status.Key" class="form-control" />
                <span asp-validation-for="Status.Key" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status.CanChange" /> @Html.DisplayNameFor(model => model.Status.CanChange)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status.Active" /> @Html.DisplayNameFor(model => model.Status.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
