@page
@using Pie.Areas.Config.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Настройки";
}

<h1>Настройки</h1>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>Пользователи</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <a href="/Identity/Users">Пользователи</a>
            </div>
        </li>        
    </ul>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>Статусы</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <a href="StatusesIn">Статусы приходников</a>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <a href="StatusesOut">Статусы расходников</a>
            </div>
        </li>
    </ul>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>Очереди</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <a href="QueuesIn">Очереди приходников</a>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <a href="QueuesOut">Очереди расходников</a>
            </div>
        </li>
    </ul>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h5>Причины изменения</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>
                <a href="ChangeReasonsIn">Для приходников</a>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <a href="ChangeReasonsOut">Для расходников</a>
            </div>
        </li>
    </ul>
</div>
