@page
@using Pie.Areas.Config.Pages;
@model IndexModel
<div>
    <a href="StatusesIn">StatusesIn</a>
</div>
<div>
    <a href="StatusesOut">StatusesOut</a>
</div>
<div>
    <a href="QueuesIn">QueuesIn</a>
</div>
<div>
    <a href="QueuesOut">QueuesOut</a>
</div>
<div>
    <a href="ChangeReasonsIn">ChangeReasonsIn</a>
</div>
<div>
    <a href="ChangeReasonsOut">ChangeReasonsOut</a>
</div>


@{
}
