@page "/"

<PageTitle>Pick It Easy</PageTitle>

<div class="text-center">
    <h1 class="display-4">Сервис автоматизации сборки заказов!</h1>
    <p>Узнать больше о <a href="https://pickiteasy.ru/">Pick It Easy</a>.</p>
</div>