@page "/DocsOut/List"

@using Pie.Pages.DocsOut.Components

<div class="row">
    <div class="col"><h4>Расходники</h4></div>
    <div class="col">@pageMessage</div>
</div>

@if (docs is not null && docs.Any())
{
    <CardsQueues Docs="@docs" Queues="@queues"></CardsQueues>
}

@code {

}
