<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <a class="nav-link text-dark" href="Identity/Account/Manage" title="Manage">Привет @context.User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" action="Identity/Account/Logout" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
                </form>
            </li>
            <li class="nav-item">
                <AuthorizeView Roles="Admin" Context="Admin">
                    <a class="nav-link text-dark" href="Config/Index" title="Config"><i class="bi bi-tools"></i><span> Настройки</span></a>
                </AuthorizeView>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-binoculars"></i><span> История</span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/History/DocsIn">Приходников</a></li>
                    <li><a class="dropdown-item" href="/History/DocsIn/Products">Их товаров</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/History/DocsOut">Расходников</a></li>
                    <li><a class="dropdown-item" href="/History/DocsOut/Products">Их товаров</a></li>
                </ul>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link text-dark" href="Identity/Account/Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="Identity/Account/Login">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="https://pickiteasy.ru/" title="Config">О программе</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>
