<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-8">
                <a href="Identity/Account/Manage">@context.User.Identity?.Name!</a>
            </div>
            <div class="col-4">
                <form method="post" action="Identity/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link">Выход</button>
                </form>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-8">
                <a href="Identity/Account/Register">Регистрация</a>
            </div>
            <div class="col-4">
                <a href="Identity/Account/Login">Вход</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
