@inherits LayoutComponentBase

<PageTitle>Pick It Easy</PageTitle>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Pick It Easy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav flex-grow-1">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link text-dark" href="/DocsIn/List" ActiveClass="border rounded shadow-sm">
                                <i class="bi bi-box-arrow-in-down-left fs-4"></i><span class="h5"> Приемка </span>
                            </NavLink>
                        </li>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link text-dark" href="/DocsOut/List" ActiveClass="border rounded shadow-sm">
                                <i class="bi bi-box-arrow-up-right fs-4"></i><span class="h5"> Отгрузка </span>
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link text-dark" href="Identity/Account/Login?returnUrl=/DocsIn/List" ActiveClass="border rounded shadow-sm">
                                <i class="bi bi-box-arrow-in-down-left fs-4"></i><span class="h5"> Приемка </span>
                            </NavLink>
                        </li>
                        <li class="nav-item px-2">
                            <NavLink class="nav-link text-dark" href="Identity/Account/Login?returnUrl=/DocsOut/List" ActiveClass="border rounded shadow-sm">
                                <i class="bi bi-box-arrow-up-right fs-4"></i><span class="h5"> Отгрузка </span>
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <LoginDisplay />
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Pie - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>


