@using Pie.Data.Models.In;

@if (Docs is not null)
{
    <div style="overflow-y: scroll; max-height: 800px;">
        @foreach (var doc in Docs)
        {
            <div class="me-2">
                <Card Doc="@doc"></Card>
            </div>
        }
    </div>
}

@code {
    [Parameter] public List<DocIn>? Docs { get; set; }
}
