@using Pie.Data.Models.In;
@if (DocVm != null)
{
    <table class="table table-sm table-borderless">
        <tr>
            <td>Отправитель:</td>
            <th>@DocVm?.Value?.Partner?.Name</th>
            <td>В работе:</td>
            <th>@DocVm?.AtWorkUserName</th>
        </tr>
        <tr class="d-print-none">
            <td>Склад:</td>
            <th>@DocVm?.Value?.Warehouse?.Name</th>
            <td>Статус:</td>
            <th>@DocVm?.Value?.Status?.Name</th>
        </tr>
        <tr class="d-print-none">
            <td>Ответственный:</td>
            <th>@DocVm?.Value?.Manager?.Name</th>
            <td>Очередь:</td>
            <th>@DocVm?.Value?.Queue?.Name</th>
        </tr>
        <tr>
            <td>Комментарий:</td>
            <th>@DocVm?.Value?.Comment</th>
            <td>Вес: </td>
            <th>@DocVm?.Weight</th>
        </tr>
    </table>
}

@code {
    [Parameter] public DocInVm? DocVm { get; set; }
}