@using Pie.Data.Models.In;
@if (DocVm != null)
{
    <table class="table table-sm table-borderless">
        <tr>
            <td>Отправитель:</td>
            <th>@DocVm?.Value?.Partner?.Name</th>
            <td>Документы основания:</td>
            <th>
                @if (DocVm != null && DocVm.Value != null && DocVm?.Value?.BaseDocs != null)
                {
                    @foreach (var item in DocVm.Value.BaseDocs)
                    {
                        <div>@item.BaseDoc?.Name</div>
                    }
                }
            </th>
        </tr>
        <tr>
            <td>Склад:</td>
            <th>@DocVm?.Value?.Warehouse?.Name</th>
            <td>Ответственный:</td>
            <th>@DocVm?.Value?.Manager?.Name</th>
        </tr>
        <tr>
            <td>Статус:</td>
            <th>@DocVm?.Value?.Status?.Name</th>
            <td>В работе:</td>
            <th>@DocVm?.AtWorkUserName</th>
        </tr>
        <tr>
            <th>Очередь:</th>
            <td>@DocVm?.Value?.Queue?.Name</td>
            <td>Комментарий:</td>
            <th>@DocVm?.Value?.Comment</th>
        </tr>
        <tr>
            <td></td>
            <th></th>
            <td>Вес: </td>
            <th>@DocVm?.Weight</th>
        </tr>
    </table>
}

@code {
    [Parameter] public DocInVm? DocVm { get; set; }
}